/* Reset de estilos */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-image: url(img/img2.jpg);
    background-size: cover;
}

nav{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 161, 3);
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

nav ul li{
    padding: 4px;
    border: 3px ridge rgb(2, 83, 25);
    color: rgb(2, 54, 17);
    list-style: none;
    background-color: #d5f9db;
}

#logo{
    width: 15%;
}
  
main {
    padding: 20px;
  }
  
section {
    margin-bottom: 30px;
  }
  
h2 {
    margin-bottom: 10px;
  }
  
footer {
    
    padding: 10px;
    text-align: center;
    color: #f1f1f1;
    list-style-type: none;
    background-color: #000000;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
